language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - nightly
    - hhvm

matrix:
  allow_failures:
    - php: nightly
    - php: hhvm

before_install:
  - composer self-update

install:
  - composer install --no-interaction --prefer-source

script: phpunit --configuration ./phpunit.xml.dist